[Unit]
Description=NordVPN Daemon
After=network.target

[Service]
ExecStart=/usr/sbin/nordvpn start
ExecStop=/usr/sbin/nordvpn stop
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

