[Unit]
Description=qBittorrent Daemon
After=nordvpnd.service
Requires=nordvpnd.service

[Service]
User=root # maybe not good idk
ExecStart=/usr/bin/qbittorrent-nox
Restart=always

[Install]
WantedBy=multi-user.target

